body {
	background: #101010;
	margin-left: 0;
	margin-top: 15px;
	font-size: 10.5pt;
}

#masthead { 
	margin: 0 auto; 
	border: 0; 
	padding: 0; 
	width: 750px;
	height: 66px;
}
#masthead a { display: block; }
#masthead img { float: none; }

table#wholebody { margin: auto;
   width: 750px;
   border-collapse: collapse;
   border-width: 0px;
   padding: 0;
   background: #CCC;
   color: #222;
   height: 500px;
} 

#main-panel {
  padding: 15px 0em 45px 0em;
  margin: 0;
  background: #FFF3D5;
  color: #222;
  font-family: Cochin, "Book Antiqua", Palatino, Times;
  line-height: 1.3;
  vertical-align: top;
}
#main-panel a {	text-decoration: none; color: #A65F52; }
#main-panel a:hover { text-decoration: none; color: #998865; }
#main-panel a:active { text-decoration: none; color: #998865; }
#main-panel a.reference { font-size: 70%; position: relative; bottom: 0.7em; }


/* --- right-bar --- */
/* This is the bar on the right hand side of the front page */

td.right-bar {
  padding: 15px 0;
  margin: 0;
  background: #F8E8CB;
  color: #222;
  font-family: Cochin, "Book Antiqua", Palatino, Times;
  line-height: 1.3;
  vertical-align: top;
  text-align: center;
  width: 195px;
}
td.right-bar a { text-decoration: none; color: #A65F52; }
td.right-bar a:hover { text-decoration: none; color: #998865; }
td.right-bar a:active { text-decoration: none; color: #998865; }
td.right-bar a.reference { font-size: 70%; position: relative; bottom: 0.7em; }
td.right-bar img { border:0; padding:0; }

/* --- left-bar --- */
/* This is the bar on the left hand side of the front page */

td.left-bar {
  font-size: 90%;
  padding: 0;
  margin: 0;
  width: 175px;
  background: #8B0A05; /*#0F0B0A;*/
  line-height: 25px;
}


a img {	border: none; }

p { margin: 0 2.5em 1em 2.5em; }
p.extra-indent { margin-left: 3.5em; }

p.quote {
  color: #555;
  margin-left: 3.5em;
  
}

ul { padding: 0 1.5em 0 2.5em; margin: -0.8em 1.5em 1em 2.5em; }
ul li { padding: 0.1em; }
ol { padding: 0 1.5em 0 2.5em; margin: -0.8em 1.5em 1em 2.5em; }
ol li { padding: 0.1em; }
ul.compact { margin: 2px; padding: 2px; }
ul.compact li { margin: 0; padding: 0; }
ul.compact ul.compact { margin-left: 2em; list-style: square; }
ul.compact2 { margin: 0 0 4px 1.5em; padding: 0 0 4px 1.5em; list-style: disc; }
ul.compact2 li { margin: 0 0 0 0; padding: 0; }
ul.compact2 ul.compact2 { margin: 0 0 4px 1em; padding: 0 0 4px 1em; }
ul.fact-sheet { padding: 0 1.5em 0 1.5em; margin: 0 1.5em 1em 2.5em; }
ul.fact-sheet li { padding: 0.5em; }


h1 { color: #A6675C; font-family: Cochin, "Book Antiqua", Palatino, Times; font-size: 200%; line-height: 1.2; font-weight: normal; margin-top: 0px; margin-left: 1.25em; }
h2 { color: #865544;
  font-family: Cochin, "Book Antiqua", Palatino, Times;
  font-size: 150%;
  font-weight: normal;
  margin: 1.5em 0 1em 1.67em;
}
h3 { color: #663333; 
  font-family: Cochin, "Book Antiqua", Palatino, Times; 
  font-size: 100%; font-weight: bold; 
  line-height: 1.4; 
  margin: 1.5em 0em 0.7em 2.5em;
  padding: 0 0 0 0;
}


ul.sitemap { list-style: none; }
ul.sitemap li { padding: 5px; }
.bi0 { font-weight: bold; margin:0; padding:0;}
.i1 { margin-left: 1em; }
.i2 { margin-left: 2em; }
.i3 { margin-left: 3em; }
.i4 { margin-left: 4em; }
.bi1 { margin-left: 2em; }
.bi2 { margin-left: 4em; }
.bi3 { margin-left: 6em; }
.bi4 { margin-left: 8em; }

.main {	border-top: 1px #CCCCCC solid; margin: 2em; padding: 1em;}
.faint { color: #777777; font-size: 80%; }

input.number { text-align: right; }

img.float-right {
  float: right;
  margin-left: 5px;
}

td.side-bar {
  font-size: 90%;
  padding: 0;
  margin: 0;
  padding-bottom: 2em;
  text-align: left;
  background: #8C0A05;
  color: #F0DDB7;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 10pt;
  line-height: 25px;
  width: 175px;
}
td.side-bar tr td {
  background-repeat: no-repeat;
}
td.side-bar h3 {
  color: white;
  padding: 0 0 1em 10px;
  font-family: Helvetica, Arial, sans-serif;
}

td.side-bar-links {
  padding: 10px 0px 0px 10px;
  margin: 0;
  text-align: left;
}
td.side-bar-links a {
  color: #EAB5A5;
  text-decoration: none;
  font-weight: bold;
}
td.side-bar-links a.side-link:hover { color: #FFFAE5; }
td.side-bar-links a.side-link-selected { color: #FFFAE5; }

td.txtlm { text-align: left; vertical-align: middle; }
td.txtlt { text-align: left; vertical-align: top; }
td.txtrt { text-align: right; vertical-align: top; }
td.imtab { text-align: center; vertical-align: middle; padding-right: 0.5em; } 

table.layout {padding: 0; margin: 0 0em 1em 2.5em; }
table.layout td p { padding: 0 1em 1em 0; margin: 0; }
table.reftab { padding-top: 1em; padding-right: 2em; }
table.reftab td.txtrt { text-align: right; vertical-align: top; padding-right: 0.6em; width: 30px;}

table.memberlist { margin-left: 4.5em; margin-bottom: 2em; }
table.memberlist th { padding: 4px 2em 4px 1.5em; text-align: left; vertical-align: top;}
table.memberlist td { padding: 4px 2em 4px 1.5em; text-align: left; vertical-align: top; }
table.memberlist tr.ml-odd { background: #F1DEC2; }
table.memberlist tr.ml-even { background: #FBEBCE; }

table.medialist { margin-left: 2.5em; margin-bottom: 2em; }
table.medialist th { padding: 4px 1em 4px 1em; text-align: left; vertical-align: top;}
table.medialist td { padding: 4px 1em 4px 1em; text-align: left; vertical-align: top; }
table.medialist tr.ml-odd { background: #F1DEC2; }
table.medialist tr.ml-even { background: #FBEBCE; }

table.recommendations { margin-left: 3em; margin-bottom: 2em; }
table.recommendations td { padding: 15px 2em 15px 1.5em; text-align: left; vertical-align: middle; }
table.recommendations tr.tier1 { background: #F8E9CB; }
table.recommendations tr.tier2 { background: #F1DEC2; }
table.recommendations tr.tier3 { background: #EAD3B7; }

table.charitylist { margin-left: 2.5em; margin-bottom: 2em; }
table.charitylist th { padding: 4px 1em 4px 1em; text-align: left; vertical-align: top;}
table.charitylist td { padding: 4px 1em 4px 1em; text-align: left; vertical-align: top; }
table.charitylist tr.ml-odd { background: #F1DEC2; }
table.charitylist tr.ml-even { background: #FBEBCE; }

table.barchart { margin-left: 4em; width: 510px; margin-bottom: 1em; }
table.barchart td { vertical-align: middle; }
table.barchart td.nom { padding: 0; text-align: left; width: 200px; }
table.barchart td.dol { padding: 0 8px 0 2px; text-align: left; width: 80px; }
table.barchart td.bar { padding: 0; text-align: left; width: 235px;}

table.nextbar {
  text-align: right;
  width: 535px;
  margin: 1em 0 0 0;
}
table.nextbar a {padding-left: 0.5em; font-weight: bold; }

table.languages {
	text-align: center;
	width: 500px;
	margin-top: 0.3em;
	margin-bottom: 0.3em;
	margin-left: auto;
  margin-right: auto
}
table.languages a {
	padding-left: 0.5em;
	padding-right: 0.5em;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	color: #888;
	text-decoration: none;
	font-size: 8pt;
	/* display: none; */
}
table.languages a.selected {
	color: #ddd;
}
table.languages a:hover { color: #ddd; }

table.floater { background: #F7DDBE; padding: 0; margin: 0 auto 1em auto; border: 0; }
table.floater td { padding: 0; margin: 0; border: 0; }
table.floater td.corner { width: 20px; height: 20px; padding: 0; margin: 0; }
table.floater td.topl { background: #F7DDBE url("images/corners/ul.gif") top left no-repeat; }
table.floater td.topr { background: #F7DDBE url("images/corners/ur.gif") top right no-repeat; }
table.floater td.botl { background: #F7DDBE url("images/corners/bl.gif") bottom left no-repeat; }
table.floater td.botr { background: #F7DDBE url("images/corners/br.gif") bottom right no-repeat; }

table.floater2 { background: #F1DEC2; padding: 0; margin: 0 auto 1em auto; border: 0; }
table.floater2 td { padding: 0; margin: 0; border: 0; }
table.floater2 td.corner { width: 20px; height: 20px; padding: 0; margin: 0; }
table.floater2 td.topl { background: #F1DEC2 url("images/corners2/ul.gif") top left no-repeat; }
table.floater2 td.topr { background: #F1DEC2 url("images/corners2/ur.gif") top right no-repeat; }
table.floater2 td.botl { background: #F1DEC2 url("images/corners2/bl.gif") bottom left no-repeat; }
table.floater2 td.botr { background: #F1DEC2 url("images/corners2/br.gif") bottom right no-repeat; }


td.floaterpane { padding: 0 10px 0 10px;}
td.floaterpane h3 { color: #553333; padding: 0 0 0.5em 0; margin: 0; font-weight: bold; }
td.floaterpane p { padding: 0 0 0em 0; margin: 0; }
td.floaterpane p.divider { padding: 0.5em 0 0.5em 0; margin: 0; }
td.floaterpane p.attribution {
  margin: 0.5em 2.5em 0em 3.5em;
  font-style: italic;
}
td.floaterpane form { margin-bottom: 0; padding-bottom:0; }
td.floaterpane form table { margin-bottom:0; padding-bottom:0; }

table.nav-bar {
  width: 750px;
  background: #F8F7F3;
  margin: 0 auto 0 auto;
  border: 0;
  border-collapse: collapse;
  font-family: Helvetica, Arial, sans-serif; font-size: 10pt;
  padding: 0;
}
table.nav-bar td {
  width: 125px;
  border-right: 1px #CCC solid;
  border-bottom: 1px #CCC solid;
  text-align: center;
}
table.nav-bar td a {
  display: block;
  color: #444444;
  text-decoration: none;
  padding-top: 1px;
  padding-bottom: 2px;
}
table.nav-bar td a:hover {
  color: #111111;
  background-color: #F0DDB7;
}
table.nav-bar td.nav-cell-selected a {
  color: #111111;
  background: #F0DDB7;
}

/* The following section sorts out the iSearch results page */

div.searchresults {
  margin: 0 2.5em 0 2.5em;
}

div.searchresults h2 {
  margin: 0;
}

table.isearch-head {
  display: none;
}

td.isearch-head {
  color: #444;
}

span.isearch-search {
  color: #222;
  font-weight: bold;
}

table.isearch-prevnext {
  margin-top: -1.5em;
  margin-bottom: -1em;
}

a.isearch-title {
  font-weight: bold;
  line-height: 2em;
}

span.isearch-highlight {
  font-weight: bold;
}

h2.isearch-nomatch {
  margin: 0;
  color: #663333; 
  font-size: 100%;
  font-weight: bold; 
}

form.side-bar-search {
  margin: 1px auto 1px auto;
}

input.side-bar-search {
  color: #777;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  text-align: bottom;
  width: 140px;
  padding-left: 17px;
/*  padding-top: 2px;
  padding-bottom: 0px; */
  background: url(/images/search.gif);
  background-color: #FFF;
  background-repeat: no-repeat;
}

span.footnote {
  display: none;
}

/* added by tom post-nov */
.memberslist .mini-icon-email {
	float: right;
	display: block;
}


table.gwwc-style th, table.gwwc-style td { 
	padding: 4px 2em 4px 1.5em; text-align: left; vertical-align: top; 
}
table.gwwc-style {
	margin: 0 4.5em 2em;
}
table.gwwc-style {

}
table.gwwc-style tr:nth-child(odd) {
	background: #F1DEC2;
}
table.gwwc-style tr:nth-child(even) {
	background: #FBEBCE;
}
table.gwwc-style .icon {
	width: 10px;
	padding: 0px 8px 0px;
}
table.gwwc-style th.icon span {
	display: none;
	font-size: 1px;
}

.postscript {
	font-style: italic;
	text-align: center;
}

.prescript {
	font-style: italic;
}

.small-box {
	background-color: #F7DDBE;
	padding: 1em 1.5em 0.2em;
	margin: 0 auto 1em;
	width: 300px;
}

.small-box p {
	margin-left: 0;
}

.small-box a {
	font-weight: bold;
}

.center, .centre {
	text-align: center;
}

.small {
	font-size: 0.8em;
}



.rounded-box-out {
	position: relative;
	z-index: inherit;
	zoom: 1; /* For IE6 */
}

.rounded-box {
/* already on g2, slighlt dif so dont copy*/
    background-color: #EDDABE;  
    border-radius: 10px 10px 10px 10px;    
    padding: 10px;
    width: 140px;
    margin: 0 auto;
			
	-moz-border-radius:10px; /* Firefox 3.6 and earlier */
	-webkit-border-radius: 10px;
	
	
	behavior: url('/style/border-radius.htc');
}
