$white: #fff
$light_grey: #e6e6e6
$mid_grey: #999
$dark_grey: #666
$very_dark_grey: #111

$gwwc_dark_red: #8b0a05
$gwwc_bright_red: #eb0a05

$content_bg: $white
$dark_bg: $very_dark_grey
$light_bg: $light_grey

$text_on_dark_bg: $light_grey

$text_on_light_bg: $very_dark_grey
$lighter_text_on_light_bg: $dark_grey
